.bookingPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px !important;
}

.bookingPage > button {
    margin-bottom: 20px;
}

.bookingPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.minderCard {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
}

.profileInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profileInfo a {
  display: flex;
}

.profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.minderInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.minderInfo p, .minderInfo svg {
  margin: 0;
  opacity: 0.6;
}

.metric {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.bookingForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    gap: 20px;
}

.bookingForm p, .bookingForm label {
    margin: 0;
    font-size: 16px;
}

.servicesContainer, .petsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.serviceCard, .petCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--menu-card-background-color);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid var(--menu-card-border-color);
    transition: all 0.2s ease;
}

.serviceCard:hover, .petCard:hover {
    border-color: var(--highlight-color);
    background-color: transparent;
}

.serviceHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.serviceDuration {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.serviceCard.selected, .petCard.selected {
    background-color: #ff88002A;
    border-color: var(--highlight-color);
}

.petCard {
    align-items: center;
    text-align: center;
    line-height: 1.2;
}

.pets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.petCard img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100px;
    margin: 5px 0;
}

.addPetCard {
    border: 1px dashed var(--menu-card-border-color);
    padding: 20px;
}

.addPetCard svg {
    background-color: var(--menu-card-border-color);
    border-radius: 100px;
    padding: 6px;
    box-sizing: content-box;
    margin-bottom: 5px;
    transition: all 0.2s ease;
}

.addPetCard:hover svg {
    background-color: var(--highlight-color);
}

.timers {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.timers > div {
    width: 100%;
}

.specialInstructions {
    width: 100%;
}

.specialInstructions textArea {
    width: 100%;
    height: 100px;
    resize: none;
    margin: 0;
}

.bookingForm button {
    align-self: flex-end;
}

.error {
    color: var(--error-color);
    margin-top: 10px !important;
}

.paymentPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px !important;
    gap: 20px;
}

.paymentPageContainer {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paymentPageContainer p {
    margin: 0;
}

.paymentSectionContainer {
    padding: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.paymentForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.formInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.doubleRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.successPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    width: fit-content;
    margin: 0 auto;
}

.successPage h2 {
    margin-bottom: 10px;
}

.successPage p {
    margin: 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.buttons > button {
    width: 100%;
}