.bookingsNavigation {
    width: fit-content;
}

.bookingsNavigation button {
    padding: 5px 10px;
}

.bookingsList {
    display: grid;
    row-gap: 10px;
    margin-top: 10px;
}

.booking {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    background-color: var(--menu-card-background-color);
    border-radius: 5px;
}

.bookingHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookingInfo {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.bookingDetail {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.bookingActions {
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}

.bookingActions button {
    width: 100%;
}