.bookingsNavigation {
    width: fit-content;
}

.bookingsNavigation button {
    padding: 5px 10px;
}

.bookingsList {
    display: grid;
    row-gap: 10px;
    margin-top: 10px;
}

.booking {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    background-color: var(--menu-card-background-color);
    border-radius: 5px;
}

.bookingHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookingInfo {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.bookingDetail {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.bookingActions {
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}

.bookingActions button {
    width: 100%;
}

.moreDetailsButton {
    display: flex;
    width: fit-content;
    margin: 5px 0 5px;
    font-size: inherit;
    color: var(--highlight-color);
}

.moreDetailsButton:hover {
    color: var(--highlight-color-hover);
}

.moreDetailsButton svg {
    transition: transform 0.1s;
}

.moreDetails {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px;
    row-gap: 10px;
}

.ownerPetInfo {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: start;
}

.infoSection {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: flex-start;
}

.section {
    display: flex;
    flex-direction: column;
}

.section span {
    font-weight: 300;
    font-size: 14px;
}

.section img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: var(--border-radius);
    aspect-ratio: 1/1;
}

.petInfo {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    align-items: start;
}

.double {
    display: grid;
    grid-template-columns: auto 1fr ;
    column-gap: 10px;
    width: min-content;
    align-items: start;
}

.petInfoShort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.petInfoLong {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

span.petTitle {
    font-weight: 400;
}