.landingPageSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.steps h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.steps p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.container{
    background:var(--primary-color);
    display: flex;
    align-items: center;
}