.hero, .howItWorks, .loginRegister {
    padding: 50px 0;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 50px;
}

.hero h1, .hero p {
    color: var(--text-color);
}
  
.hero h1 {
    margin-bottom: 10px;
    line-height: 1.2;
}
  
.hero p {
    margin-bottom: 30px;
}

.imageContainer {
    width: 100%;
    height: auto;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
}

.background {
    background: var(--primary-color);
    width: 100%;
}

.howItWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-top: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.howItWorks .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--highlight-color);
    border-radius: 100px;
    padding: 8px;
    color: var(--primary-color);
    width: min-content;
}

.HowItWorks div:hover {
    padding: .2rem;
    transform: scale(1rem);
}

.loginRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: max-content;
    column-gap: 10px;
}