.addPet {
    display: flex;
    margin-bottom: auto;
    margin-top: 20px;
    justify-content: center;
}

.addPetContainer {
    display: flex;
    flex-direction: column;
}

.addPetContainer > button {
    margin-bottom: 10px;
}

.addPetContent {
    background: var(--primary-color);
    padding: calc(var(--padding) * 2) var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    width: max-content;
    max-width: 680px;
    text-align: center;
}

.addPetContent h2 {
    margin-bottom: 20px;
}

.photoContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 10px 0;
}

.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    background-color: var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.photo svg {
    width: 60%;
    height: 60%;
    object-fit: cover;
    color: var(--primary-color);
}

.photoContainer input[type="file"] {
    height: min-content;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.addPetContainer textarea {
    height: 120px;
    min-height: 45px;
    max-height: 400px;
    resize: vertical;
}