.petDetails {
    display: flex;
    margin-bottom: auto;
    margin-top: 20px;
    justify-content: center;
}

.petDetailsContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}

.petDetailsContainer > button {
    margin-bottom: 10px;
}

.petDetailsContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
}

.petDetailsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    row-gap: 10px;
}

.petDetail{
    width: 100%;
}

.petDetailsContent h2 {
    margin: 0;
}

.petDetailsContent h6 {
    font-weight: 400;
}

.petDetailsContent hr {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-top: 1px solid var(--text-color);
}

.petDetailsContent span {
    font-size: 14px;
    opacity: 0.5;
}

.petDetails p {
    margin: 0;
}

.petDetails img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 0;
}