.pets h3 {
    display: block;
}

.pet p, .addPet p {
    margin-bottom: 10px;
    font-size: 16px;
}

.petList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.pet, .addPet {
    margin: 10px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--menu-card-background-color);
}

.pet {
    padding: 10px;
}

.addPet {
    align-items: center;
    text-align: center;
    height: fit-content;
    padding: 40px 20px;
}

.addPetIcon {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

.pet img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    aspect-ratio: 1/1;
}

.pet .buttons {
    display: flex;
    margin: 20px 0 10px;
    gap: 10px;
}

.pet button {
    width: 100%;
}

.addPet button {
    margin-top: 10px;
}
