.authentication {
    display: flex;
    margin-bottom: auto;
    padding: 40px 20px !important;
    justify-content: center;
}

.authenticationContainer {
    display: flex;
    flex-direction: column;
}

.authenticationContainer > button {
    margin-bottom: 10px;
}

.authenticationBox {
    background: var(--primary-color);
    padding: calc(var(--padding) * 2) var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    width: max-content;
    min-width: 350px;
    max-width: 500px;
    text-align: center;
}

.register {
    width: 500px;
}

.authenticationBox h2 {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
    text-align: left;
}

.input label {
    display: block;
    font-weight: 600;
    font-size: 16px;
}

.authenticationContainer p {
    font-size: 14px;
    margin: 10px 0 0;
}

p.error {
    color: var(--error-color);
    font-weight: 500;
    margin-bottom: 5px;
    text-align: left;
}

.alternateLink {
    color: var(--highlight-color);
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 0;
    margin-top: 15px;
}

form button {
    margin-top: 10px;
}

.doubleRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-top: 2px;
}

.radioGroup input {
    accent-color: black;
    transform: scale(1.1);
}

.radioGroup label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.radioGroup span {
    font-weight: 500;
}

input[type="date"] {
    font-family: var(--font-family);
}

.progressBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 20px;
    row-gap: 5px;
}

.progressBarText {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.progressBarBackground {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: var(--menu-card-border-color);
    border-radius: var(--border-radius);
}

.progressBarFill {
    position: absolute;
    height: 100%;
    background-color: var(--highlight-color);
    transition: width 0.3s ease-in-out;
    border-radius: var(--border-radius);
}

.progressBar span {
    opacity: 0.7;
}

span.stepText {
    font-weight: 600;
    opacity: 1;
}

.registerFormButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.registerFormButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profilePicture {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilePictureCustomization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin: 20px 0;
}

.profilePictureCustomization input[type="file"] {
    display: none;
}

.uploadImage {
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 50%;
}

.uploadImage {
    background-color: var(--menu-card-background-color);
    color: #575757;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px dashed var(--menu-card-border-color);
    cursor: pointer;
    transition: color 0.1s ease-in-out, border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.uploadImage span {
    font-weight: 500;
    margin-top: 5px;
}

.uploadImage p {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.uploadImage:hover {
    color: var(--text-color);
    border-color: var(--text-color);
    background-color: var(--primary-color);
}

.uploadedImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.removePicture {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e03f3f;
    color: var(--primary-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.removePicture:hover {
    background-color: #c91a1a;
}

.becomeRole {
    display: flex;
    margin-bottom: auto;
    padding: 40px 20px !important;
    justify-content: center;
}

.becomeRoleContainer {
    display: flex;
    flex-direction: column;
}

.becomeRoleContainer > button {
    margin-bottom: 10px;
}

.becomeRoleContent {
    background-color: var(--primary-color);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    text-align: center;
}

.becomeRoleContent button {
    margin-top: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.becomeRoleContainer .icon {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border-radius: 100px;
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


/* Animation for modal fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
