.authenticationContainer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    margin-bottom: auto;
}

.authenticationBox {
    background: var(--primary-color);
    padding: calc(var(--padding) * 2) var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    width: max-content;
    min-width: 350px;
    max-width: 500px;
    text-align: center;
}

.authenticationBox h2 {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
    text-align: left;
}

.input label {
    display: block;
    font-weight: 600;
    font-size: 16px;
}

.authenticationContainer p {
    font-size: 14px;
    margin: 10px 0 0;
}

p.error {
    color: var(--error-color);
    font-weight: 500;
    margin-bottom: 5px;
    text-align: left;
}

.alternateLink {
    color: var(--highlight-color);
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 0;
    margin-top: 15px;
}

form button {
    margin-top: 10px;
}

.doubleRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-top: 2px;
}

.radioGroup input {
    accent-color: black;
    transform: scale(1.1);
}

.radioGroup label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.radioGroup span {
    font-weight: 500;
}

input[type="date"] {
    font-family: var(--font-family);
}

.becomeRole {
    display: flex;
    margin-bottom: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.becomeRoleContainer {
    display: flex;
    flex-direction: column;
}

.becomeRoleContainer > button {
    margin-bottom: 10px;
}

.becomeRoleContent {
    background-color: var(--primary-color);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    text-align: center;
}

.becomeRoleContent button {
    margin-top: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.becomeRoleContainer .icon {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border-radius: 100px;
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}