.servicesTable {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.servicesTableHeader,
.servicesTableRow {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 0.5fr;
    align-items: center;
    padding: 0 16px;
    border-radius: var(--border-radius);
    background-color: var(--background-light);
}

.servicesTableHeader {
    font-weight: 700;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 8px 16px;
}

.servicesTableRow {
    background-color: var(--menu-card-background-color);
}

.columnData, .actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.columnData svg {
    color: var(--highlight-color);
}

.servicesTableRow .actions {
    gap: 10px;
}

.actions button {
    color: var(--highlight-color);
}

.actions button:hover {
    color: var(--highlight-color-hover);
}

.addService {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
}