.dashboardContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px 0;
    margin-bottom: auto;
}

.dashboardContent {
    padding-top: 20px;
    background-color: var(--background-color);
}

.dashboardSection {
    background: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
}

.dashboardSection h2 {
    margin-bottom: 15px;
}