.dashboardContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px 0;
    margin-bottom: auto;
}

.dashboardContent {
    padding-top: 20px;
    background-color: var(--background-color);
}

.dashboardSection {
    background: var(--menu-section-background-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboardSection h2 {
    margin-bottom: 15px;
}