.navigation {
    display: flex;
    width: 100%;
    background: var(--secondary-color);
    padding: 5px;
    gap: 5px;
    border-radius: var(--border-radius);

}

.navigation button {
    background: none;
    border: none;
    color: var(--primary-color);;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: background 0.2s;
    border-radius: calc(var(--border-radius) * 0.25);
}

.navigation button:hover {
    background: var(--secondary-color-hover);
}

.navigation .active {
    background: var(--highlight-color);
}

.navigation .active:hover {
    background: var(--highlight-color-hover);
}

/* Responsive design */
@media (max-width: 768px) {
    .navigation button {
        padding: 6px 4px !important;
        font-size: 12px !important;
    }
}
