  /* Footer */
  .footer {
    text-align: center;
    padding: 5px;
    background: var(--primary-color);
    color: var(--text-color);
    margin-bottom: 0;
    border-top: 1px solid var(--text-color);
  }

  .footer p {
    margin-bottom: 0;
  }