/* Navbar Styling */
.navbar {
    background-color: var(--primary-color);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.navLinks {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.logo img {
    width: 35px;
}

.navbar svg {
    color: var(--text-color);
}

.navbar button {
    padding: 10px;
}

.dropdownContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.profileIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Notifications */
.notificationBadge {
    position: absolute;
    top: 0.6em;
    right: 0.8em;
    background-color: var(--error-color);
    color: white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.notificationItem {
    cursor: pointer;
}

.notificationHeader {
    padding: 0 0.8em 0.5em;
    border-bottom: 1px solid var(--menu-card-border-color);
}

.notificationContent {
    padding: 0.5em 0.8em;
    border-bottom: 1px solid var(--menu-card-border-color);
    color: rgb(0, 0, 0);
    border-left: 3px solid transparent;
    padding-right: calc(0.8em + 3px);
}

.notificationContent p {
    margin: 0 0 0.5em 0;
    font-size: 0.8em;
}

.notificationTime {
    font-size: 0.8em;
    color: #888;
}

.unread {
    background-color: #fff9f0;
    position: relative;
    border-left: 3px solid var(--highlight-color);
}
