/* Navbar Styling */
.navbar {
    background-color: var(--primary-color);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navLinks {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.logo img {
    width: 35px;
}