.reporting {
    display: flex;
    margin-bottom: auto;
    padding: 40px 20px !important;
    justify-content: center;
}

.reportingContainer {
    display: flex;
    flex-direction: column;
}

.reportingBox {
    background: var(--primary-color);
    padding: calc(var(--padding) * 2) var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
    width: max-content;
    min-width: 500px;
    max-width: 600px;
    text-align: center;
}

.reportingContainer > button {
    margin-bottom: 10px;
}

.reportingBox h2 {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
    text-align: left;
}

.input label {
    display: block;
    margin-bottom: 3px;
}

.input textarea {
    min-height: 120px; 
    resize: none;
    font-family: inherit;
}

.reportingContainer p {
    margin: 10px 0 0;
}

.error {
    color: var(--error-color);
}