.userDetails {
    display: flex;
    margin-bottom: auto;
    padding: 40px 0 !important;
    justify-content: center;
}

.userDetailsContainer {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}

.userDetailsContainer > button {
    margin-bottom: 10px;
}

.userDetailsContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-color);
}

.userDetailsContent p {
    display: flex;
    align-items: center;
    column-gap: 5px;
    opacity: 0.5;
    margin: 0;
}

.roles {
    display: flex;
    column-gap: 10px;
    margin: 10px 0;
}

.role {
    padding: 0 10px;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border-radius: 100px;
    font-size: 14px;
}

.userDetailsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    row-gap: 10px;
}

.userDetail{
    width: 100%;
}

.userDetailsContent h2 {
    margin: 0;
}

.userDetailsContent h6 {
    font-weight: 400;
}

.userDetailsContent hr {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-top: 1px solid var(--text-color);
}

.userDetails img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 0;
}


.buttons {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

.buttons button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    .userDetails {
        padding: 40px 10px !important;
    }
}